extends ../../layouts/default
include ../../mixins/box-head

block content
  .container
    .row
      .col-md-12
        +box-head("Trang chủ")
        p Bạn có thể tìm kiếm nhạc theo chủ đề bên cạnh

        if topics.length > 0
          form.form-inline.mt-3
            .form-group.mr-2
              select.form-control(name="topic", id="topic")
                option(value="") Chọn chủ đề
                each topic in topics
                  option(value=topic.id)= topic.name
            button.btn.btn-primary(type="submit") Tìm kiếm
        else
          p.text-muted.mt-3 Chưa có chủ đề nào
