header.bg-gray-200.shadow-md.fixed.top-0.left-0.right-0.z-50
  .container.mx-auto.py-4.flex.justify-between.items-center
    a.text-2xl.font-bold(href="/") 🎵 Music
    ul.flex.items-center
      li.mx-4.cursor-pointer
        a.text-gray-700.hover: text-blue-500(href="/topics") Chủ đề
      li.mx-4.cursor-pointer
        a.text-gray-700.hover: text-blue-500(href="/about") Giới thiệu
      li.mx-4.cursor-pointer
        a.text-gray-700.hover: text-blue-500(href="/contact") Liên hệ
