//- Sidebar
aside#sidebar.hidden
  ul.list-group.list-group-flush
    each url in ['/', 'Music', 'Home', 'topics', 'artists', 'albums', 'songs', 'search']
      li.list-group-item
        a(href=url)= url

//- Backdrop
div#sidebar-backdrop
