doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Chọn 1 trong 2 cách load Tailwind:
    //link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css")
    script(src="https://cdn.tailwindcss.com")
    link(rel="stylesheet", href="../css/style.css")
    script(src="../js/script.js")

    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.min.css")
    
    title #{titlePage}

  body 
    include ../partials/header.pug
    block content
    include ../partials/footer.pug

    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.min.js")
